.Dashboard{
    width: 100%;
    height: 100%;
}


.headersection{
    width: 100%; 
    /* position: fixed;  */
}

.flexcontainer{
    display: flex;
    height: 100%;
    /* margin-top: 70px; */
}

.sidebarsection{
    height: 100%;
    width: 20%; 
}

.landingpage{
   width: 80%;
}
.outlet{
    grid-column: 2/12;
    grid-row: 3/22;
    
}
.footer{
    grid-column: 1/12;
    width: 100%;
    background-color: white;
}



