.Dashboard{
    display: grid;
}

.headersection{
    grid-column: 1/12;
    grid-row: 1/2;
    width: 100%;
    position: fixed;

}

.sidebarsection{
    grid-column: 1/2;
    grid-row: 2/12;
    margin-top: 70px;
    position: fixed;
    width: 20%;
    
}

.landingpage{
    grid-column: 2/12;
    grid-row: 2/12;
    margin-left: 14%;
    margin-top: 70px;
}


